<script env="server">
	var downloads = k.content.Downloads.all();
	var result = [];
	var files = k.file.folderFiles("/").sort((a, b) => b.lastModified - a.lastModified);
	
	for (const download of downloads) {
		var fileUrl = download.FileUrl;
		var lastModified = download.lastModified;
		if (download.Title?.includes("Microsoft Store")) {
			var file = files.find(f => f.name.includes(".msi"));
			if (file) {
				lastModified = file.lastModified;
			}
		} else if (download.Title?.includes("Mac")) {
			var file = files.find(f => f.name.includes("Kooboo-osx"));
			if (file) {
				lastModified = file.lastModified;
			}
		}
		else if (fileUrl?.includes("Kooboo-portable")) {
			var file = files.find(f => f.name.includes("Kooboo-portable"));
			if (file) {
				lastModified = file.lastModified;
				fileUrl = `https://www.kooboo.com/__kb/kfile/${file.name}`;
			}
		}
		else if (fileUrl?.includes(".msi")) {
			var file = files.find(f => f.name.includes(".msi"));
			if (file) {
				lastModified = file.lastModified;
				fileUrl = `https://www.kooboo.com/__kb/kfile/${file.name}`;
			}
		}
		result.push({ ...download, FileUrl: fileUrl, lastModified })
	}
</script>


<section class="component-summary">
	<div class="relative z-[1] mx-auto max-w-screen-xl py-10 px-6 lg:py-16 lg:px-24">
		<div class="md:pl-[8.6%] md:max-w-[66%] mb-12">
			<h1 class="text-[1.5rem] md:text-2xl xl:text-[2rem] xl:!leading-9" k-label="Download">
				Downloads</h1>
		</div>

		<div class="flex flex-col gap-4 md:pl-[8.6%] md:max-w-[90%]">

			<div k-for="item in result" repeat-self="true">

				<h1 class="mb-4 mt-10"><b k-content="item.Title"></b></h1>
				<p class="mt-4 mb-4" k-content="item.Summary"> summary </p>

				<div k-if="item.LinkText">
					<a href="#" k-attribute="href item.FileUrl" style="text-decoration:underline" k-content="item.LinkText"> Download </a>
				</div>
			</div>

		</div>

	</div>
</section>


<script>
	hljs.registerLanguage('markup', window.hljsXML);
	document.querySelectorAll('.component-summary pre code').forEach((el) => {
		hljs.highlightElement(el);
	});
</script>