<footer class="text-gray-700 border-t border-gray-200">
    <div class="flex flex-col gap-6 px-6 pt-16 pb-6 md:flex-row md:pt-6 items-center mx-auto max-w-screen-xl lg:px-24">
        <div class="flex gap-2 items-center"> 
            <p class="text-sm"><a href="/company" k-label="AboutUs">About Us</a></p>
            <p class="text-sm"><a href="/terms" k-label="Termscondition">Terms and Condition</a></p>
            <p class="text-sm"><a href="/privacy" k-label="Privacy">Privacy Policy</a></p>
            <p class="text-sm"><a href="/join" k-label="company.joinus">Join Us</a></p>
        </div>
        <div class="flex flex-col items-center justify-center md:flex-row md:ml-auto md:gap-4">
          <p class="text-sm" k-label="companyname">亚尔迪（厦门）科技有限公司</p>  
            <view id="common/icp"></view> 
        </div>
    </div>
</footer>