<header class="transition-transform shadow duration-300 sticky z-10 left-0 top-0 right-0 bg-white">
	<nav class="flex py-4 px-6 items-center mx-auto max-w-screen-xl text-gray-700 lg:px-24">
		<!-- mobile menu -->
		<div class="lg:hidden relative mr-4 select-none">
			<input type="checkbox" aria-hidden="true" tabindex="-1" class="peer w-8 h-8 absolute z-[2] left-0 cursor-pointer opacity-0">
			<span class="transition-transform origin-top-left block w-8 h-1 my-[5px] relative z-[1] bg-gray-500 rounded peer-checked:rotate-45 peer-checked:-translate-y-[2px] peer-checked:translate-x-[6px]"></span>
			<span class="transition-opacity origin-top-left block w-8 h-1 my-[5px] relative z-[1] bg-gray-500 rounded peer-checked:opacity-0"></span>
			<span class="transition-transform origin-bottom-left block w-8 h-1 my-[5px] relative z-[1] bg-gray-500 rounded peer-checked:-rotate-45 peer-checked:translate-y-[2px] peer-checked:translate-x-[6px]"></span>
			<div class="transition-transform shadow ease-in-out antialiased absolute left-0 top-0 -mt-4 -ml-6 w-screen -translate-x-full peer-checked:translate-x-0">
				<ul class="py-4 px-6 mt-16 bg-white border-t border-grey-100">
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.home" href="/home">Home</a></li>
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.innovation" href="/Innovation">Innovation</a></li>
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.ecommerce" href="/Ecommerce">E-commerce</a>
					</li>
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.mail" href="/Mail">Email</a></li>
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.application" href="/Application">Applications</a></li>
					<!-- <li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.development"
							href="/Development">开发服务</a></li> -->
					<li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.docs" href="/docs">Docs</a></li>
					<!-- <li><a class="inline-block w-full pl-14 py-3 mb-1" k-label="menu.pricing" href="/pricing">价格</a>
					</li> -->
				</ul>
			</div>
		</div>

		<!-- logo -->
		<a href="/home" class="ml-auto lg:ml-0 relative z-[2] shrink-0" title="home">
			<img class="h-5 w-[98px]" src="/Kooboo.png" alt="kooboo Logo">
		</a>

		<!-- desktop menu -->
		<ul class="hidden items-center justify-between ml-auto mr-auto lg:flex lg:space-x-1">
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/home" k-label="menu.home">Home</a></li>
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/Innovation" k-label="menu.innovation">Innovation</a></li>
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/Ecommerce" k-label="menu.ecommerce">E-commerce</a></li>
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/Mail" k-label="menu.mail">Email</a></li>
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/Application" k-label="menu.application">Applications</a></li>
			<!-- <li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900"
					href="/Development" k-label="menu.development">开发服务</a></li> -->
			<li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900" href="/docs" k-label="menu.docs">Docs</a></li>
			<!-- <li><a class="px-3.5 py-2.5 rounded-md transition-colors hover:bg-gray-100 hover:text-gray-900"
					href="/pricing" k-label="menu.pricing">价格</a></li> -->

		</ul>

		<a class="group shrink-0 hidden lg:flex justify-center shadow-[0_0_0_1px_rgba(0,0,0,0.1)] w-fit sm:w-fit bg-[#111a4a] items-center text-white rounded-lg ml-3 py-3 px-4 transition-all hover:shadow-sm" href="/_start/login?lang=en">
			<span class="mr-1 leading-none" k-label="StartNow">Start now</span>
			<svg viewBox="0 0 16 16" fill="none" class="-mr-1 inline-block h-4 stroke-current" xmlns="http://www.w3.org/2000/svg">
				<path d="M8 13L13 8L8 3" stroke="white" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round" class="transition-transform -translate-x-1 group-hover:translate-x-0">
				</path>
				<path d="M12 8L2 8" stroke="white" stroke-width="1.5" class="transition-transform origin-left scale-0 group-hover:scale-100"></path>
			</svg>
		</a>
	</nav>
</header>
