<script env="server">

var imgurl = "/images/datacenter-" + k.site.info.culture + ".png"; 

</script>

<section class="max-w-screen-xl mx-auto px-6 pt-0 pb-6 lg:px-24 border-b border-gray-200">
    <p k-label="DataCenter" class="mb-8 before:content-empty before:w-2 before:h-4 before:mr-2 before:bg-gradient-to-b before:from-blue-500 before:to-cyan-500 before:inline-block before:relative before:top-0.5 before:rounded-[1px]">
        全球数据中心</p>
    <img class="w-full h-auto" k-attribute="src imgurl" src="/images/data-center.png" alt="data center">
    
</section>