<div class="mx-auto max-w-screen-xl py-10 px-6 lg:py-16 lg:px-24">
	<div class="flex flex-col gap-8 mb-16 md:pl-[8.6%] md:max-w-[60%]" k-htmlblock="comppany.techuse">
		<p>我们的技术可用于网站、电商、OA、ERP、CRM 等多个不同的领域</p>
		<p class="text-2xl color-[#1B2D70]">公司在许多领域都有自主版权或专利的技术</p>
		<p><strong>软件开发平台：</strong>在深入研究互联网协议，编程语言、数据库技术的基础上，我们开发了一系列的软件开发工具，包含在线编程调试工具、自然语言建模、创新的 Web 编程语言、在线数据库、以及一键
			SAAS 化部署等，5 倍 10 倍地提高了软件开发效率</p>
		<p><strong>人才培养机制：</strong>创造一个透明化教学的在线课程工具，让老师可以随时观看学生的知识掌握情况，将原本黑盒子似的学生教学转化为双向互动性强的知识传播体验。通过闯关式的任务以及更短的反馈回路提高学生学习的兴趣
		</p>
		<p><strong>知识传播机制：</strong>公司所有技术的产出，不管是一个大型企业应用，或是网页上的一个小功能，都可以一键导出成独立的包，很方便部署到其他地方，与他人或是社区分享</p>
	</div>
	<div class="flex flex-col mb-16 sm:flex-row gap-4">
		<div class="sm:basis-5/12">
			<img class="h-[420px] w-full object-cover rounded-lg" src="/mmexport1585848878442.jpg" alt="公司环境">
		</div>
		<div class="sm:basis-7/12">
			<img class="h-[420px] w-full object-cover rounded-lg" src="/IMG_20191115_160109.jpg" alt="公司环境">
		</div>
	</div>
	<div class="flex flex-col gap-8 md:pl-[8.6%] md:max-w-[60%]">
		<p k-label="company.whatweare" class="relative text-2xl color-[#1B2D70] before:content-empty before:absolute before:top-0 before:bottom-0 before:-left-8 before:w-0.5 before:bg-blue-300">
			我们努力工作、喜欢分享、热爱生活</p>
		<p k-label="company.3rules">在生活与工作当中，我们制定三大基本原则：</p>
		<p k-label="company.rule1"><strong>人人生而平等：</strong>所有人坐在一起办公，写一样的代码。没有复杂的人际关系，没有上级的强制命令，没有等级之分，只有技能与职责的不同，及对技术与事业的追求</p>
		<p k-label="company.rule2"><strong>主动做事，低调做人：</strong>看到事情，积极主动去处理，遇到麻烦，绝对负责到底。不指责他人，不埋怨自己，明确目标，以正确积极的态度去对待身边的人事
		</p>
		<p k-label="company.rule3"><strong>细节决定成败：</strong>口头禅叫“差不多永远是差很多”，最后 10% 的细节常常要花去我们 50% 的开发时间</p>
	</div>
</div>
