<div class="mx-auto max-w-screen-xl py-10 px-6 lg:pt-16 lg:pb-36 lg:px-24">
	<div class="flex flex-col md:justify-between md:flex-row">
		<div class="md:basis-1/2 mb-4 md:mb-0">
			<img class="w-full object-cover rounded-lg" src="/b1.jpg" alt="公司环境">
		</div>
		<div class="md:basis-5/12 md:pl-8">
			<h2 class="text-[2rem] leading-none" k-label="company.joinus">加入我们</h2>
			<p class="text-xl font-bold leading-none mt-12 mb-3" k-label="company.devpeople">开发与市场</p>
			<p k-label="company.jobdes">我们长期招聘各类人才，开发、测试、市场。可以在 Boss 直聘上查看我们的岗位，或是直接给我们写信：<br>hr AT kooboo.com</p>
			<p class="text-xl font-bold leading-none mt-12 mb-3" k-label="company.partner">合作伙伴</p>
			<p k-label="company.partnerwanted">大多数的企业都是我们的合作伙伴而非竞争对手。我们寻求在全中国各地市寻求建立代理或合作关系：<br>邮件：service AT kooboo.com <br>电话：+86-592-5550586</p>
		</div>
	</div>
	</div>