<div class="mx-auto max-w-screen-xl py-10 px-6 lg:pt-16 lg:pb-36 lg:px-24">
	<div class="flex flex-col md:justify-between md:flex-row">
		<div class="md:basis-1/2 mb-4 md:mb-0">
			<img class="w-full object-cover rounded-lg" src="/b1.jpg" alt="Kooboo office">
		</div>
		<div class="md:basis-5/12 md:pl-8">
			<h2 class="text-[2rem] leading-none">Join Us</h2>
			<p class="text-xl font-bold leading-none mt-12 mb-3">Engineering &amp; Marketing</p>
			<p>We are always looking for talented people in engineering, QA, and marketing. Email us directly:<br>hr AT kooboo.com</p>
			<p class="text-xl font-bold leading-none mt-12 mb-3">Partners</p>
			<p>Most companies are our partners, not our competitors. We are looking to build agency and partnership relationships globally:<br>Email: service AT kooboo.com <br>Phone: +86-592-5550586</p>
		</div>
	</div>
</div>