<script env="server">
    var productivityBanner = k.content.ProductivityBanner.all();
</script>

<section class="home-productivity relative overflow-hidden bg-[var(--color-white)]" aria-labelledby="home-productivity-title">
    <div class="home-productivity__background" aria-hidden="true"></div>

    <div class="home-productivity__content relative z-[1] mx-auto w-[min(1081px,calc(100vw_-_48px))] lg:px-6 lg:pb-[145px] lg:pt-[152px] pt-[52px] pb-[100px]">
        <h2 id="home-productivity-title" class="home-productivity__title m-0 text-center text-2xl font-semibold leading-[1.21] tracking-normal text-[var(--color-title)]">One underlying architecture, three productivity limits</h2>

        <div class="home-productivity__grid mt-10 lg:grid grid-cols-3 gap-8 flex flex-col">
            <article class="home-productivity-card" k-for="item in productivityBanner" repeat-self="true">
                <div class="home-productivity-card__inner">
                    <div class="home-productivity-card__media">
                        <img class="home-productivity-card__image" k-attribute="src item.Image" width="177" height="142" alt="" aria-hidden="true" />
                    </div>

                    <div class="home-productivity-card__body">
                        <h3 class="home-productivity-card__title">
                            <img class="home-productivity-card__check" src="/2_0/home-productivity-check.svg" width="32" height="32" alt="" aria-hidden="true" />
                            <span k-content="item.Title">Designer</span>
                        </h3>
                        <p class="home-productivity-card__description" k-content="item.Description">A website generator that allows you to create websites with a single sentence and edit them at will</p>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
